.historySection {
  display: flex;
  align-items: center;
  background-color: #FE6000;
  padding: 7% 14%;
  color: #ffffff;
  font-family: 'Space Grotesk', sans-serif;
  flex-direction: row;

  .content {
    flex: 1;
    padding: 1rem;

    .title {
      font-size: 64px;
      font-weight: bold;
      margin-bottom: 2rem;
      @media (max-width: 980px) {
        font-size: 24px;
      }
    }

    .text {
      font-family: 'Sora', sans-serif;
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 2rem;
      @media (max-width: 980px) {
        font-size: 14px;
        line-height: 22px;
      }
    }
  }

  .imageWrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
      height: auto;
      border-radius: 10px;
    }
  }

  @media (max-width: 980px) {
    flex-direction: column;

    .content {
      h2 {
        font-size: 48px;
      }

      p {
        font-size: 18px;
        line-height: 28px;
      }
    }

    .imageWrapper {
      margin-top: 2rem;
    }
  }
}
