.impactContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px ;
  align-items: center;
  width: 100%;
  padding: 100px 14%;
  background: #F8F8F8;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  min-width: 400px;
  height: 330px;
  min-height: 330px;
  padding: 20px 50px;
  text-align: center;
  border: 1px solid #000;
  border-radius: 50px;
  text-align: center;
  background-color: transparent;
  z-index: 1;

  &::after {
    content: '';
    position: absolute;
    width: 400px;
    height: 330px;
    top: -6px;
    left: -9px;
    border: 1px solid #000;
    border-radius: 50px;
    z-index: -1;
  }
}

.number {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 96px;
  font-weight: bold;
  margin: 0;
  @media (max-width: 980px) {
    font-size: 69px;
  }
}

.description {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 42px;
  margin: 0;
  color: #000000;
  @media (max-width: 980px) {
    font-size: 30px;
  }
}
