.appMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  .desktopMenu {
    display: flex;
    gap: 25px;

    @media (max-width: 840px) {
      display: none;
    }

    .menuItem a {
      font-family: 'Sora';
      font-style: normal;
      font-weight: 800;
      font-size: 24px;
      line-height: 24px;
      color: black !important;
      text-decoration: none;

      &:hover {
        color: #007bff;
      }
    }
  }

  .hamburger {
    display: none;
    font-size: 32px;
    background: none;
    border: none;
    cursor: pointer;

    @media (max-width: 840px) {
      display: block;
    }
  }
}

.mobileMenu {
  position: fixed;
  top: 0;
  right: 0;
  width: 75%;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 100;

  .mobileMenuItem a {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    color: black;
    text-decoration: none;

    &:hover {
      color: #007bff;
    }
  }
}
