.container {
  padding: 5% 7%;
  margin: 0 auto;
}

.title {
  width: 60%;
  font-family: 'Space Grotesk', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 72px;
  text-transform: uppercase;
  color: #000000;
}

@media (max-width: 768px) {
  .title {
    width: 100%;
    font-size: 25px;
    line-height: 30px;
  }
}
