.container {
  width: 100%;
  padding: 113px 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #D8E267;
  border-radius: 8px;
  @media (max-width: 980px) {
    padding: 70px 6%;
  }
}

.title {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 64px;
  line-height: 64px;
  font-weight: bold;
  margin: 0 0 68px 0;
  @media (max-width: 980px) {
    font-size: 24px;
    line-height: 24px;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 22px;
  @media (max-width: 980px) {
    gap: 15px;
  }
}

.button {
  width: 426px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 40px;
  background-color: #88C9EC;
  border-radius: 100px;
  border: solid 3px #000;
  color: #000;
  font-family: 'Space Grotesk', sans-serif;
  text-decoration: none;
  font-size: 42px;
  font-weight: 500;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

  @media (max-width: 980px) {
    width: 250px;
    padding: 15px 20px;
    font-size: 22px;
    line-height: 24px;
  }

  &:hover {
    background-color: #88C9EC;
  }
}

.icon {
  margin-right: 15px;
  width: 55px;
  height: 55px;
  @media (max-width: 980px) {
    width: 35px;
    height: 35px;
  }
}

.arrow {
  display: flex;
  align-items: center;
  img {
    width: 22px;
  }
}

.description {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 18px;
  color: #333;
  @media (max-width: 980px) {
    font-size: 10px;
  }
}

.info {
  display: flex;
  align-items: center;
}

.infoText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
