.appFooter {
  text-align: center;
  padding: 20px 50px;
  background-color: #000;
  color: #fff;
  font-size: 0.9rem;

  .madeBy {
    font-size: small;
    padding: 0 20px;
    color: #6044af;
    a {
      color: #6044af;
    }
  }
}
