.appHeader {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F8F8F8;
  padding: 0 8%;
  height: 168px;
  width: 100%;
  z-index: 1000;

  .logo {
    display: flex;
    align-items: center;

    img {
      height: 76px;
    }
  }
}

@media (max-width: 768px) {
  .appHeader {
    height: 86px;

    .logo {
      img {
        height: 40px;
      }
    }
  }
}
