@import url(https://fonts.googleapis.com/css?family=Sora:100,200,300,regular,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Space+Grotesk:300,regular,500,600,700);

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.slick-next::before {
  font-size: 32px !important;
}

.slick-prev::before {
  font-size: 32px !important;
}
