.knowMoreContainer {
  margin-top: 5%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FF9FCC;
  padding: 20px 40px;
  gap: 20px;

  @media (max-width: 980px) {
    flex-direction: column;
    text-align: center;
  }
}

.text {
  font-family: 'Space Grotesk', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #000000;
  max-width: 545px;
  @media (max-width: 980px) {
    margin-bottom: 0;
    font-size: 24px;
  }
}



